# pandas 基础

在本章中，我们将深入学习 pandas 的基础知识，包括文件的读取与写入、基本数据结构、常用基本函数和窗口对象等内容

In [2]:
import numpy as np
import pandas as pd

## 文件的读取和写入

### 文件读取

pandas 支持多种格式的文件读取，这里我们将重点介绍如何读取 CSV、Excel 和 TXT 文件。

#### 读取 CSV 文件

In [34]:
df_csv = pd.read_csv('./data/01_sample.csv')  # 读取 CSV 文件
df_csv.head()  # 显示前五行数据

   col1 col2  col3    col4      col5
0     2    a   1.4   apple  2020/1/1
1     3    b   3.4  banana  2020/1/2
2     6    c   2.5  orange  2020/1/5
3     5    d   3.2   lemon  2020/1/7

#### 读取 TXT 文件

In [4]:
df_txt = pd.read_table('./data/01_sample.txt')  # 读取 TXT 文件
print(df_txt.head())  # 显示前五行数据

   col1 col2  col3             col4
0     2    a   1.4   apple 2020/1/1
1     3    b   3.4  banana 2020/1/2
2     6    c   2.5  orange 2020/1/5
3     5    d   3.2   lemon 2020/1/7

#### 读取 Excel 文件

In [5]:
df_excel = pd.read_excel('./data/01_sample.xlsx')  # 读取 Excel 文件
print(df_excel.head())  # 显示前五行数据

   col1 col2  col3    col4      col5
0     2    a   1.4   apple  2020/1/1
1     3    b   3.4  banana  2020/1/2
2     6    c   2.5  orange  2020/1/5
3     5    d   3.2   lemon  2020/1/7

### 文件写入

将 DataFrame 数据写入文件也非常重要。在写入数据时，通常会设置 `index=False` 来排除索引。

#### 写入 CSV 文件

In [35]:
df_csv.to_csv('./data/01_sample_saved.csv', index=False)

In [36]:
df_csv.to_csv('./data/01_sample_saved_with_index.csv')

#### 写入 Excel 文件

In [7]:
df_excel.to_excel('./data/01_sample_saved.xlsx', index=False)

如果想要把表格快速转换为markdown和latex语言，可以使用to_markdown和to_latex函数，此处需要安装tabulate包。

In [37]:
print(df_csv.to_markdown())

|    |   col1 | col2   |   col3 | col4   | col5     |
|---:|-------:|:-------|-------:|:-------|:---------|
|  0 |      2 | a      |    1.4 | apple  | 2020/1/1 |
|  1 |      3 | b      |    3.4 | banana | 2020/1/2 |
|  2 |      6 | c      |    2.5 | orange | 2020/1/5 |
|  3 |      5 | d      |    3.2 | lemon  | 2020/1/7 |

In [9]:
print(df_csv.to_latex())

\begin{tabular}{lrlrll}
\toprule
{} &  col1 & col2 &  col3 &    col4 &      col5 \\
\midrule
0 &     2 &    a &   1.4 &   apple &  2020/1/1 \\
1 &     3 &    b &   3.4 &  banana &  2020/1/2 \\
2 &     6 &    c &   2.5 &  orange &  2020/1/5 \\
3 &     5 &    d &   3.2 &   lemon &  2020/1/7 \\
\bottomrule
\end{tabular}

C:\Users\wk\AppData\Local\Temp\ipykernel_15512\2725033129.py:1: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(df_csv.to_latex())

### 常用参数介绍

- `header=None`: 当文件中不包含列名时使用，表示第一行不作为列名。
- `index_col`: 用作行索引的列编号或列名。
- `usecols`: 指定需要读取的列。
- `parse_dates`: 解析日期类型的列。
- `nrows`: 读取的数据行数。

## 基本数据结构

pandas 中有两种基本的数据结构：`Series` 和 `DataFrame`。

### Series

`Series`一般由四个部分组成，分别是序列的值`data`、索引`index`、存储类型`dtype`、序列的名字`name`。其中，索引也可以指定它的名字，默认为空。

In [38]:
s = pd.Series(data=[100, 'a', {'dic1': 5}], index=['id1', 20, 'third'], dtype='object', name='my_series')
print(s)

id1              100
20                 a
third    {'dic1': 5}
Name: my_series, dtype: object

In [42]:
s['id1'],s[20]

(100, 'a')

### DataFrame

`DataFrame` 是一种二维表格结构，类似于 Excel 表格。创建 `DataFrame` 的一个常见方法是传入一个字典,同时再加上行索引:

In [43]:
data = {'col1': [1, 2, 3], 
        'col2': ['a', 'b', 'c'],
        'col3': [1.2, 2.2, 3.2]}
df = pd.DataFrame(data,index = ['row_%d'%i for i in range(3)])
df

       col1 col2  col3
row_0     1    a   1.2
row_1     2    b   2.2
row_2     3    c   3.2

由于这种映射关系，在`DataFrame`中可以用`[col_name]`与`[col_list]`来取出相应的列与由多个列组成的表，结果分别为`Series`和`DataFrame`：

In [46]:
# 选择单列，结果为 Series
df['col1']

row_0    1
row_1    2
row_2    3
Name: col1, dtype: int64

In [47]:
# 选择多列，结果为 DataFrame
df[['col1', 'col2']]

       col1 col2
row_0     1    a
row_1     2    b
row_2     3    c

## 常用基本函数
为了进行举例说明，在接下来的部分和其余章节都将会使用一份`pandas_starter.csv`的虚拟数据集，它记录了H&M的用户行为数据。

In [48]:
df = pd.read_csv('./data/pandas_starter.csv')

### 汇总函数
`head, tail`函数分别表示返回表或者序列的前`n`行和后`n`行，其中`n`默认为5：

In [49]:
df.head(3)

,t_dat,customer_id,article_id,price,sales_channel_id,product_code,prod_name,product_type_no,product_type_name,product_group_name,...,section_name,garment_group_no,garment_group_name,detail_desc,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,2018-09-20,03d0011487606c37c1b1ed147fc72f285a50c05f00b971...,668766002,0.042356,2,668766,Roger,258,Blouse,Garment Upper body,...,Womens Casual,1010,Blouses,Blouse in an airy modal and cotton weave with ...,1.0,1.0,ACTIVE,Regularly,51.0,8db52856d17c197683efbc9d5ef2dc873aaf7062486b2d...
1,2018-09-20,03d0011487606c37c1b1ed147fc72f285a50c05f00b971...,652946001,0.050831,2,652946,&DENIM Bootcut RW Speed,272,Trousers,Garment Lower body,...,Ladies Denim,1016,Trousers Denim,5-pocket jeans in washed stretch denim with a ...,1.0,1.0,ACTIVE,Regularly,51.0,8db52856d17c197683efbc9d5ef2dc873aaf7062486b2d...
2,2018-09-20,03d0011487606c37c1b1ed147fc72f285a50c05f00b971...,691275008,0.067780,2,691275,Waves blouse,258,Blouse,Garment Upper body,...,Womens Trend,1010,Blouses,"Blouse in an airy jacquard weave with a small,...",1.0,1.0,ACTIVE,Regularly,51.0,8db52856d17c197683efbc9d5ef2dc873aaf7062486b2d...

In [16]:
df.tail(3)

,t_dat,customer_id,article_id,price,sales_channel_id,product_code,prod_name,product_type_no,product_type_name,product_group_name,...,section_name,garment_group_no,garment_group_name,detail_desc,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
50721,2020-09-22,e97c3a6c680cd3569df10f901a61fdffaf8f70300f6adf...,896064002,0.049627,1,896064,Volpino slacks,272,Trousers,Garment Lower body,...,Womens Tailoring,1009,Trousers,Ankle-length cigarette trousers in woven fabri...,1.0,1.0,ACTIVE,Regularly,52.0,738401fe6e5701e1fc827de90e69599119e434ca477f67...
50722,2020-09-22,f137c16fd175271922dad4006565503952f24750a57388...,752814020,0.033881,2,752814,Milk RW slack,272,Trousers,Garment Lower body,...,Womens Everyday Collection,1009,Trousers,Cigarette trousers in stretch twill with a reg...,1.0,1.0,ACTIVE,Regularly,70.0,3455b39b24a47ae0262c91c5728ab9ddcfccc43628291e...
50723,2020-09-22,f137c16fd175271922dad4006565503952f24750a57388...,906633002,0.050831,2,906633,Isach Loafer,86,Ballerinas,Shoes,...,Womens Shoes,1020,Shoes,Loafers in imitation leather with a decorative...,1.0,1.0,ACTIVE,Regularly,70.0,3455b39b24a47ae0262c91c5728ab9ddcfccc43628291e...

`info`, `describe`分别返回表的信息概况和表中数值列对应的主要统计量 ：

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50724 entries, 0 to 50723
Data columns (total 35 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   t_dat                         50724 non-null  object
 1   customer_id                   50724 non-null  object
 2   article_id                    50724 non-null  int64
 3   price                         50724 non-null  float64
 4   sales_channel_id              50724 non-null  int64
 5   product_code                  50724 non-null  int64
 6   prod_name                     50724 non-null  object
 7   product_type_no               50724 non-null  int64
 8   product_type_name             50724 non-null  object
 9   product_group_name            50724 non-null  object
 10  graphical_appearance_no       50724 non-null  int64
 11  graphical_appearance_name     50724 non-null  object
 12  colour_group_code             50724 non-null  int64
 13  colour_group_name             50724 non-null  object
 14  perceived_colour_value_id     50724 non-null  int64
 15  perceived_colour_value_name   50724 non-null  object
 16  perceived_colour_master_id    50724 non-null  int64
 17  perceived_colour_master_name  50724 non-null  object
 18  department_no                 50724 non-null  int64
 19  department_name               50724 non-null  object
 20  index_code                    50724 non-null  object
 21  index_name                    50724 non-null  object
 22  index_group_no                50724 non-null  int64
 23  index_group_name              50724 non-null  object
 24  section_no                    50724 non-null  int64
 25  section_name                  50724 non-null  object
 26  garment_group_no              50724 non-null  int64
 27  garment_group_name            50724 non-null  object
 28  detail_desc                   50554 non-null  object
 29  FN                            33282 non-null  float64
 30  Active                        33282 non-null  float64
 31  club_member_status            50724 non-null  object
 32  fashion_news_frequency        50724 non-null  object
 33  age                           50724 non-null  float64
 34  postal_code                   50724 non-null  object
dtypes: float64(4), int64(12), object(19)
memory usage: 13.5+ MB

In [51]:
df.describe()

,article_id,price,sales_channel_id,product_code,product_type_no,graphical_appearance_no,colour_group_code,perceived_colour_value_id,perceived_colour_master_id,department_no,index_group_no,section_no,garment_group_no,FN,Active,age
count,5.072400e+04,50724.000000,50724.000000,50724.000000,50724.000000,5.072400e+04,50724.000000,50724.000000,50724.000000,50724.000000,50724.000000,50724.000000,50724.000000,33282.0,33282.0,50724.000000
mean,7.286946e+08,0.031458,1.940028,728694.642635,243.795757,1.009556e+06,25.657637,3.138061,7.771469,2531.063284,2.224608,33.987501,1010.154976,1.0,1.0,41.983519
std,1.213823e+08,0.022794,0.237437,121382.290101,63.959872,2.150258e+04,25.499722,1.479604,4.988244,1847.173009,4.537081,23.046094,6.281734,0.0,0.0,13.989001
min,1.087750e+08,0.000508,1.000000,108775.000000,-1.000000,-1.000000e+00,-1.000000,-1.000000,-1.000000,1201.000000,1.000000,2.000000,1001.000000,1.0,1.0,22.000000
25%,6.716330e+08,0.016932,2.000000,671633.000000,253.000000,1.010010e+06,9.000000,2.000000,5.000000,1543.000000,1.000000,15.000000,1005.000000,1.0,1.0,28.000000
50%,7.420585e+08,0.025407,2.000000,742058.500000,263.000000,1.010016e+06,11.000000,4.000000,5.000000,1666.000000,1.000000,19.000000,1009.000000,1.0,1.0,43.000000
75%,8.165860e+08,0.040661,2.000000,816586.000000,272.000000,1.010016e+06,42.000000,4.000000,11.000000,3209.000000,2.000000,57.000000,1016.000000,1.0,1.0,53.000000
max,9.562170e+08,0.506780,2.000000,956217.000000,761.000000,1.010029e+06,93.000000,7.000000,20.000000,9989.000000,26.000000,97.000000,1025.000000,1.0,1.0,70.000000

### 数据统计函数

- `count()`: 计算非空元素的数量。
- `min(), max()`: 计算最小值和最大值。
- `sum()`, `mean()`: 计算总和和平均值。
- `quantile()`: 计算分位数
- `idxmax()`:表示返回值最大的索引

In [19]:
df['customer_id'].count()

50724

In [20]:
df['price'].min()

0.0005084745762711

In [21]:
df['price'].max()

0.5067796610169492

In [22]:
df['price'].sum()

1595.6556101694891

In [23]:
df['price'].mean()

0.031457606067531924

In [24]:
df.quantile(0.75)

article_id                    8.165860e+08
price                         4.066102e-02
sales_channel_id              2.000000e+00
product_code                  8.165860e+05
product_type_no               2.720000e+02
graphical_appearance_no       1.010016e+06
colour_group_code             4.200000e+01
perceived_colour_value_id     4.000000e+00
perceived_colour_master_id    1.100000e+01
department_no                 3.209000e+03
index_group_no                2.000000e+00
section_no                    5.700000e+01
garment_group_no              1.016000e+03
FN                            1.000000e+00
Active                        1.000000e+00
age                           5.300000e+01
Name: 0.75, dtype: float64

In [25]:
df['price'].idxmax() # idxmin是对应的函数

48988

### 唯一值函数
对序列使用`unique`和`nunique`可以分别得到其唯一值组成的列表和唯一值的个数：

In [26]:
df['customer_id'].unique()

array(['03d0011487606c37c1b1ed147fc72f285a50c05f00b9712e0fc3da400c864296',
       '1320d4b3dd6481cde05bb80fb7ca37397f70470b9afb96aeca5d41175acaf836',
       '1f09f1593c106b2b171e201a79e922f83ddacfdb690a0d8d382c2b7d03d0a5cb',
       '30d1e9b6378a74a740f64c3d34f1686693d0430b03c6cd602d58062e604373d0',
       '49beaacac0c7801c2ce2d189efe525fe80b5d37e46ed05b50a4cd88e34d0748f',
       '6cc121e5cc202d2bf344ffe795002bdbf87178054bcda2e57161f0ef810a4b55',
       '7f0ac4394297dc4a885d3b9277ba526cbbfbf7fb7cae465b256ed8e55b864f03',
       'ac078972395fc6edd27d6db647ec2fcf149cefd4c2fae6b5076a9fa7d2124406',
       'ae414fa70eb3c2ae0ec1640bbdf588531c8d034dfc5c06000e19601be6cd34fd',
       'c3bbcf0011725dd1012eef2f6f16e28bc3d0eb2b25a4b7c9f4f98cf97821d83d',
       'f137c16fd175271922dad4006565503952f24750a57388fe24970a218c62de6a',
       '0bf4c6fd4e9d33f9bfb807bb78348cbf5c565846ff4006acf5c1b9aea77b0e54',
       '157eee38676eebb003bf97407f26e369de192997ab3902c194ce2690f060ff50',
       '6881f635c5be0550646522a81a07d942ee71fcf603397d7908b76b1df2298745',
       '6980555e2eaa19a3f9f8df02e983a8e50abddf6e49cc6310ee45cce60284b62f',
       '8df45859ccd71ef1e48e2ee9d1c65d5728c31c46ae957d659fa4e5c3af6cc076',
       'be1981ab818cf4ef6765b2ecaea7a2cbf14ccd6e8a7ee985513d9e8e53c6d91b',
       'cd04ec2726dd58a8c753e0d6423e57716fd9ebcf2f14ed6012e7e5bea016b4d6',
       '1df07f916d7f648458702bd0b612caee88f1fb4cd1b660fc79ca0c99d27b1293',
       'efaafb08a00e63ce561a67c31c1ab7e720d4f394a78c4705518dc02084a29172',
       '15a075c3ea7b76dc31971a496c0d4b1f5f30170355eff7cedd4f4234c8c9402c',
       '26fbbc7fb66c96e4d7984443dffa6779b9ac1e7f9c59c3207a24eacdd74e0891',
       '3493c55a7fe252c84a9a03db338f5be7afbce1edbca12f3a908fac9b983692f2',
       '55d15396193dfd45836af3a6269a079efea339e875eff42cc0c228b002548a9d',
       '82a2b96739347895758330d4d1001ab5abbbad43c7bbfb31eef08ef25b52f366',
       '84c34f4f564db1f437943c77af41f83bf6fd7c01701cbb050070369176905712',
       'a76cf5ea515d09f22b7fe3e8ea3c1944316bd6264a90e26cef126242ef3c5e11',
       'e34f8aa5e7c8c258523ea3e5f5f13168b6c21a9e8bffccd515dd5cef56126efb',
       'e6498c7514c61d3c24669f49753dc83fdff3ec1ba13902dd9184c959d8f0b249',
       'e7c0ff2f724293c09bf3ba498c8c49b001040374fab1cdf2d6fe6017de089eba',
       '689f4eda82fdf3d9bfe8e524bbd0d931c4d7690f2234d3e48779f924aaf4103d',
       'a65f77281a528bf5c1e9f270141d601d116e1df33bf9df512f495ee06647a9cc',
       '77db96923d20d40532eba0020b55cd91eb51358885c2d698a2805e79481f64a1',
       'c140410d72a41ee5e2e3ba3d7f5a860f337f1b5e41c27cf9bda5517c8774f8fa',
       'da4991d090dbc1bc54c0538104ef2d5dc46ac40b2b0764294a2f7465c586dc5a',
       'e55d5ddb3a0c3fb1b4df8edbf526ba12989ab2a852c72774e3f3338cbbb3335e',
       '0d4fb6fb46dfe2759bcf7bc80340e8915b207aa2f74b5b3c76f74d3ce28359e8',
       'd80ed4ababfa96812e22b911629e6bcbf5093769051ea447e2b696ac98a3dae9',
       'e97c3a6c680cd3569df10f901a61fdffaf8f70300f6adf6e266b80c87d54245a',
       '716d31c400d20613322bf8a2ddfc621604ea9756c054de47e8220d2ad94f5e78',
       '898ede9fb639eb2aedb2d1d433eea958817e2bbb9f94524b3a0709af6fb5257e',
       'b4db5e5259234574edfff958e170fe3a5e13b6f146752ca066abca3c156acc71',
       'e238725cbff3774b711407cc000f42c0ddabf6b07eb0e311ffb5fc72e862a34b',
       '2df54f0d0653811fe06479c93905f3e6ecc6d07edf39d8b56e5b66c86182bedf',
       '950159306933d969b06b43f21a92a29fd37ed81ed8786af2dee5f6a22f8b553c',
       '4308983955108b3af43ec57f0557211e44462a5633238351fff14c8b51f16093',
       '863f0e03da282ae32a76775ce55d8a4605a85c84a26066e1ad0e9469e8c40e68',
       '67931690bdf18d2e328854ae772cd5ce2505fdc11164693998b13e706db0bb56',
       '9478a9e051336b0373b07172ef96ed923cb50e0d54a7e3998250c9f5ccad2382',
       'b14bfba3ae0da5af6e9711059773acf713cd7bb9a2c940ddf570affb715988a0'],
      dtype=object)

In [52]:
df['customer_id'].nunique()

50

`value_counts`可以得到唯一值和其对应出现的频数：

In [53]:
df['customer_id'].value_counts()

be1981ab818cf4ef6765b2ecaea7a2cbf14ccd6e8a7ee985513d9e8e53c6d91b    1895
b4db5e5259234574edfff958e170fe3a5e13b6f146752ca066abca3c156acc71    1441
49beaacac0c7801c2ce2d189efe525fe80b5d37e46ed05b50a4cd88e34d0748f    1364
a65f77281a528bf5c1e9f270141d601d116e1df33bf9df512f495ee06647a9cc    1361
cd04ec2726dd58a8c753e0d6423e57716fd9ebcf2f14ed6012e7e5bea016b4d6    1237
55d15396193dfd45836af3a6269a079efea339e875eff42cc0c228b002548a9d    1208
c140410d72a41ee5e2e3ba3d7f5a860f337f1b5e41c27cf9bda5517c8774f8fa    1170
8df45859ccd71ef1e48e2ee9d1c65d5728c31c46ae957d659fa4e5c3af6cc076    1169
03d0011487606c37c1b1ed147fc72f285a50c05f00b9712e0fc3da400c864296    1157
6cc121e5cc202d2bf344ffe795002bdbf87178054bcda2e57161f0ef810a4b55    1143
e34f8aa5e7c8c258523ea3e5f5f13168b6c21a9e8bffccd515dd5cef56126efb    1117
3493c55a7fe252c84a9a03db338f5be7afbce1edbca12f3a908fac9b983692f2    1115
0bf4c6fd4e9d33f9bfb807bb78348cbf5c565846ff4006acf5c1b9aea77b0e54    1099
e6498c7514c61d3c24669f49753dc83fdff3ec1ba13902dd9184c959d8f0b249    1068
d80ed4ababfa96812e22b911629e6bcbf5093769051ea447e2b696ac98a3dae9    1066
1320d4b3dd6481cde05bb80fb7ca37397f70470b9afb96aeca5d41175acaf836    1059
a76cf5ea515d09f22b7fe3e8ea3c1944316bd6264a90e26cef126242ef3c5e11    1038
e238725cbff3774b711407cc000f42c0ddabf6b07eb0e311ffb5fc72e862a34b    1022
689f4eda82fdf3d9bfe8e524bbd0d931c4d7690f2234d3e48779f924aaf4103d    1022
e97c3a6c680cd3569df10f901a61fdffaf8f70300f6adf6e266b80c87d54245a    1009
67931690bdf18d2e328854ae772cd5ce2505fdc11164693998b13e706db0bb56     999
30d1e9b6378a74a740f64c3d34f1686693d0430b03c6cd602d58062e604373d0     984
f137c16fd175271922dad4006565503952f24750a57388fe24970a218c62de6a     965
da4991d090dbc1bc54c0538104ef2d5dc46ac40b2b0764294a2f7465c586dc5a     959
84c34f4f564db1f437943c77af41f83bf6fd7c01701cbb050070369176905712     956
898ede9fb639eb2aedb2d1d433eea958817e2bbb9f94524b3a0709af6fb5257e     955
0d4fb6fb46dfe2759bcf7bc80340e8915b207aa2f74b5b3c76f74d3ce28359e8     950
6881f635c5be0550646522a81a07d942ee71fcf603397d7908b76b1df2298745     947
7f0ac4394297dc4a885d3b9277ba526cbbfbf7fb7cae465b256ed8e55b864f03     935
950159306933d969b06b43f21a92a29fd37ed81ed8786af2dee5f6a22f8b553c     929
4308983955108b3af43ec57f0557211e44462a5633238351fff14c8b51f16093     922
e55d5ddb3a0c3fb1b4df8edbf526ba12989ab2a852c72774e3f3338cbbb3335e     921
9478a9e051336b0373b07172ef96ed923cb50e0d54a7e3998250c9f5ccad2382     919
efaafb08a00e63ce561a67c31c1ab7e720d4f394a78c4705518dc02084a29172     919
ac078972395fc6edd27d6db647ec2fcf149cefd4c2fae6b5076a9fa7d2124406     918
1f09f1593c106b2b171e201a79e922f83ddacfdb690a0d8d382c2b7d03d0a5cb     912
b14bfba3ae0da5af6e9711059773acf713cd7bb9a2c940ddf570affb715988a0     901
2df54f0d0653811fe06479c93905f3e6ecc6d07edf39d8b56e5b66c86182bedf     889
e7c0ff2f724293c09bf3ba498c8c49b001040374fab1cdf2d6fe6017de089eba     872
26fbbc7fb66c96e4d7984443dffa6779b9ac1e7f9c59c3207a24eacdd74e0891     857
716d31c400d20613322bf8a2ddfc621604ea9756c054de47e8220d2ad94f5e78     851
1df07f916d7f648458702bd0b612caee88f1fb4cd1b660fc79ca0c99d27b1293     840
863f0e03da282ae32a76775ce55d8a4605a85c84a26066e1ad0e9469e8c40e68     839
ae414fa70eb3c2ae0ec1640bbdf588531c8d034dfc5c06000e19601be6cd34fd     837
157eee38676eebb003bf97407f26e369de192997ab3902c194ce2690f060ff50     833
6980555e2eaa19a3f9f8df02e983a8e50abddf6e49cc6310ee45cce60284b62f     833
77db96923d20d40532eba0020b55cd91eb51358885c2d698a2805e79481f64a1     832
82a2b96739347895758330d4d1001ab5abbbad43c7bbfb31eef08ef25b52f366     831
c3bbcf0011725dd1012eef2f6f16e28bc3d0eb2b25a4b7c9f4f98cf97821d83d     831
15a075c3ea7b76dc31971a496c0d4b1f5f30170355eff7cedd4f4234c8c9402c     828
Name: customer_id, dtype: int64

如果想要观察多个列组合的唯一值，可以使用`drop_duplicates`。其中的关键参数是`keep`，默认值`first`表示每个组合保留第一次出现的所在行，`last`表示保留最后一次出现的所在行，`False`表示把所有重复组合所在的行剔除。

In [54]:
df.drop_duplicates(['customer_id'],keep='first')

,t_dat,customer_id,article_id,price,sales_channel_id,product_code,prod_name,product_type_no,product_type_name,product_group_name,...,section_name,garment_group_no,garment_group_name,detail_desc,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,2018-09-20,03d0011487606c37c1b1ed147fc72f285a50c05f00b971...,668766002,0.042356,2,668766,Roger,258,Blouse,Garment Upper body,...,Womens Casual,1010,Blouses,Blouse in an airy modal and cotton weave with ...,1.0,1.0,ACTIVE,Regularly,51.0,8db52856d17c197683efbc9d5ef2dc873aaf7062486b2d...
3,2018-09-20,1320d4b3dd6481cde05bb80fb7ca37397f70470b9afb96...,501820043,0.016932,2,501820,SIRPA,252,Sweater,Garment Upper body,...,Divided Collection,1003,Knitwear,Jumper in a soft knit with a slightly wider ne...,1.0,1.0,ACTIVE,Regularly,54.0,da2dffc9d9cb6a1449dae3835ecb74cdf826ba152df3a0...
11,2018-09-20,1f09f1593c106b2b171e201a79e922f83ddacfdb690a0d...,598848006,0.030492,2,598848,Dylan,252,Sweater,Garment Upper body,...,Womens Everyday Basics,1003,Knitwear,Jumper in a soft rib knit containing some mohair.,1.0,1.0,ACTIVE,Regularly,27.0,db877358ce25bab258bce9f89ad718a908bb28eb7171e2...
14,2018-09-20,30d1e9b6378a74a740f64c3d34f1686693d0430b03c6cd...,686631001,0.033881,2,686631,Maggie RW tapered,272,Trousers,Garment Lower body,...,Womens Everyday Collection,1009,Trousers,NaN,NaN,NaN,ACTIVE,NONE,46.0,0c0552e4851095100d21ea87138b747f5a8ddad6e592ab...
19,2018-09-20,49beaacac0c7801c2ce2d189efe525fe80b5d37e46ed05...,568597012,0.023712,2,568597,Hayes,272,Trousers,Garment Lower body,...,Womens Tailoring,1009,Trousers,Suit trousers in a stretch weave with a regula...,NaN,NaN,ACTIVE,NONE,28.0,ab724d6cb2340bd9c5294fd7f2811349f6509a27a8bc5c...
20,2018-09-20,6cc121e5cc202d2bf344ffe795002bdbf87178054bcda2...,609605006,0.040661,2,609605,Forever sweater,252,Sweater,Garment Upper body,...,Womens Tailoring,1003,Knitwear,"Jumper in a fine, sturdy knit with buttons on ...",1.0,1.0,ACTIVE,Regularly,32.0,6480abda4aa42dcf1f5c4597c616bc53365825f1cbdf68...
22,2018-09-20,7f0ac4394297dc4a885d3b9277ba526cbbfbf7fb7cae46...,685687001,0.016932,2,685687,W YODA KNIT OL OFFER,252,Sweater,Garment Upper body,...,Womens Everyday Collection,1023,Special Offers,V-neck knitted jumper with long sleeves and ri...,1.0,1.0,ACTIVE,Regularly,33.0,2c170eef5d71c660d26538cc8ba016cf8a65274925d82a...
29,2018-09-20,ac078972395fc6edd27d6db647ec2fcf149cefd4c2fae6...,654306001,0.047441,2,654306,Spanx alot lace swimsuit,57,Swimsuit,Swimwear,...,"Womens Swimwear, beachwear",1018,Swimwear,"Fully lined, lace shaping swimsuit that has a ...",1.0,1.0,ACTIVE,Regularly,28.0,0cc530c0cb9280137cdb39c4ebadf9785c8c0c2973999c...
35,2018-09-20,ae414fa70eb3c2ae0ec1640bbdf588531c8d034dfc5c06...,685687004,0.016932,2,685687,W YODA KNIT OL OFFER,252,Sweater,Garment Upper body,...,Womens Everyday Collection,1023,Special Offers,V-neck knitted jumper with long sleeves and ri...,1.0,1.0,ACTIVE,Regularly,46.0,8a100d26b9040246e1d4331b5f695bfc054140ef4e8d4b...
40,2018-09-20,c3bbcf0011725dd1012eef2f6f16e28bc3d0eb2b25a4b7...,650710001,0.013542,2,650710,MIRANDA mini pouch,78,Other accessories,Accessories,...,Divided Accessories,1019,Accessories,Pouch bag in grained imitation leather with a ...,NaN,NaN,ACTIVE,NONE,23.0,3a5367bc8e356cff4cd9ad8c88c68c59522d6b8e202804...
41,2018-09-20,f137c16fd175271922dad4006565503952f24750a57388...,671505001,0.033881,2,671505,EDC ROMAN BLOUSE,258,Blouse,Garment Upper body,...,Womens Everyday Collection,1023,Special Offers,Long-sleeved blouse in airy chiffon with an em...,1.0,1.0,ACTIVE,Regularly,70.0,3455b39b24a47ae0262c91c5728ab9ddcfccc43628291e...
42,2018-09-21,0bf4c6fd4e9d33f9bfb807bb78348cbf5c565846ff4006...,547780001,0.013542,2,547780,Basic sweatpants,272,Trousers,Garment Lower body,...,Divided Basics,1002,Jersey Basic,Trousers in soft sweatshirt fabric with an ela...,1.0,1.0,ACTIVE,Regularly,51.0,80b6dd024c771fa4665cb10796f4393c83d37f863e6554...
44,2018-09-21,157eee38676eebb003bf97407f26e369de192997ab3902...,677964001,0.033881,2,677964,Stone earrings,70,Earring,Accessories,...,Womens Trend,1019,Accessories,Metal earrings decorated with semi-precious an...,NaN,NaN,ACTIVE,NONE,31.0,e399edbf41184d6ef7e883c0fce887ff8b613ae2fb550a...
46,2018-09-21,6881f635c5be0550646522a81a07d942ee71fcf603397d...,671505002,0.033881,2,671505,EDC ROMAN BLOUSE,258,Blouse,Garment Upper body,...,Womens Everyday Collection,1023,Special Offers,Long-sleeved blouse in airy chiffon with an em...,1.0,1.0,ACTIVE,Regularly,28.0,070f1e624b79d6540ccf7a003af852a95e7faf4f66c70d...
47,2018-09-21,6980555e2eaa19a3f9f8df02e983a8e50abddf6e49cc63...,531615002,0.020322,2,531615,Ziggy Linnen LS,252,Sweater,Garment Upper body,...,Womens Everyday Basics,1002,Jersey Basic,Long-sleeved top in airy linen jersey.,1.0,1.0,ACTIVE,Regularly,47.0,afd7936d1074fc3c0d1834735f815ebf0ab1967d457bf5...
71,2018-09-21,8df45859ccd71ef1e48e2ee9d1c65d5728c31c46ae957d...,660830005,0.033881,2,660830,Fine knit heaven,252,Sweater,Garment Upper body,...,Womens Everyday Collection,1003,Knitwear,"Jumper in a soft, fine-knit viscose blend with...",1.0,1.0,ACTIVE,Regularly,60.0,9a91a77e198519db58d9dd9c55aa037846701ab4d54a9d...
84,2018-09-21,be1981ab818cf4ef6765b2ecaea7a2cbf14ccd6e8a7ee9...,658506001,0.059305,1,658506,Skirt Pencil Stretch.,275,Skirt,Garment Lower body,...,Ladies Denim,1016,Trousers Denim,"5-pocket, knee-length skirt in washed stretch ...",NaN,NaN,ACTIVE,NONE,31.0,67851f0456e7070c20c713fe0f47eb15bcbf2a59d13b79...
86,2018-09-21,cd04ec2726dd58a8c753e0d6423e57716fd9ebcf2f14ed...,671783004,0.025407,2,671783,SIENNNA SMALL BAG,66,Bag,Accessories,...,Divided Accessories,1019,Accessories,Round shoulder bag in grained imitation leathe...,1.0,1.0,ACTIVE,Regularly,68.0,771dc009c1a3bab320696643c3396319f1b1dd67ee9de7...
93,2018-09-22,1df07f916d7f648458702bd0b612caee88f1fb4cd1b660...,543054009,0.042356,1,543054,Danja Sweater,252,Sweater,Garment Upper body,...,Divided Collection,1003,Knitwear,Jumper in a soft rib knit with a turtle neck a...,NaN,NaN,ACTIVE,NONE,23.0,207d6b8e53f6efaad75e7b3b5dd51770c2285e804a4453...
111,2018-09-22,efaafb08a00e63ce561a67c31c1ab7e720d4f394a78c47...,681319001,0.008458,2,681319,Moa long (1),253,Vest top,Garment Upper body,...,Womens Everyday Basics,1002,Jersey Basic,"Long, fitted vest top in stretch cotton jersey.",NaN,NaN,ACTIVE,NONE,45.0,cd0a270d91c765c85fe4d52883fdc1efd74a45d1c75c7b...
121,2018-09-23,15a075c3ea7b76dc31971a496c0d4b1f5f30170355eff7...,555990002,0.030492,2,555990,Dixie Windbreaker,308,Hoodie,Garment Upper body,...,Divided Collection,1007,Outdoor,NaN,1.0,1.0,ACTIVE,Regularly,30.0,0ba906414ed57749e6710361c60e5cb2d995dcaf0b670e...
132,2018-09-23,26fbbc7fb66c96e4d7984443dffa6779b9ac1e7f9c59c3...,554994006,0.015237,2,554994,Carrie cat scarf,80,Scarf,Accessories,...,Divided Accessories,1019,Accessories,Scarf in a soft jacquard weave with fringes on...,1.0,1.0,ACTIVE,Regularly,42.0,2ceee685825afea987bbcdc5514882a27bb5e20b461559...
139,2018-09-23,3493c55a7fe252c84a9a03db338f5be7afbce1edbca12f...,642499001,0.020322,2,642499,Thrift trash jogger.,272,Trousers,Garment Lower body,...,Divided Collection,1009,Trousers,Trousers in lightweight sweatshirt fabric with...,1.0,1.0,ACTIVE,Regularly,32.0,aed5bdd26b024bdfef32c3bc88a4ebdb0e0f85d354e003...
145,2018-09-23,55d15396193dfd45836af3a6269a079efea339e875eff4...,662331001,0.022017,2,662331,Maya Knitted Hat,76,Hat/brim,Accessories,...,Womens Big accessories,1019,Accessories,Braided hat with an imitation suede band. Widt...,NaN,NaN,ACTIVE,NONE,36.0,ab522f6a3ad49ede7552234ed11f5e7658b8678832010a...
161,2018-09-23,82a2b96739347895758330d4d1001ab5abbbad43c7bbfb...,674855001,0.050831,2,674855,Vest Bertie,252,Sweater,Garment Upper body,...,Men Suits & Tailoring,1003,Knitwear,Waistcoat in fine-knit premium cotton with a r...,1.0,1.0,ACTIVE,Regularly,51.0,baab4eeaf4e67788493871ddbf011dbd80c1d8da8b4034...
162,2018-09-23,84c34f4f564db1f437943c77af41f83bf6fd7c01701cbb...,638136001,0.011847,2,638136,TOBAGO one piece,254,Top,Garment Upper body,...,Ladies H&M Sport,1005,Jersey Fancy,"Fitted jumpsuit with a V-neck, narrow adjustab...",1.0,1.0,ACTIVE,Regularly,53.0,5f128cfa35124fbbaf9a782510be2b8410df3bab1f482d...
172,2018-09-23,a76cf5ea515d09f22b7fe3e8ea3c1944316bd6264a90e2...,665975002,0.025407,2,665975,Verity V-neck,252,Sweater,Garment Upper body,...,Divided Collection,1003,Knitwear,"Jumper in a soft rib knit in a short, slightly...",1.0,1.0,ACTIVE,Regularly,25.0,60238ee5acb65000ed1ca3043a92516ec129140b57f6a7...
178,2018-09-23,e34f8aa5e7c8c258523ea3e5f5f13168b6c21a9e8bffcc...,478751007,0.011847,2,478751,Melody (1),265,Dress,Garment Full body,...,Divided Collection,1013,Dresses Ladies,"Short dress in airy, patterned viscose crêpe w...",1.0,1.0,ACTIVE,Regularly,58.0,3242173b687002e407c752d3391789293eb408a476622a...
179,2018-09-23,e6498c7514c61d3c24669f49753dc83fdff3ec1ba13902...,607421002,0.016932,2,607421,Eliza slacks,272,Trousers,Garment Lower body,...,Womens Everyday Collection,1009,Trousers,Ankle-length cigarette trousers in patterned s...,NaN,NaN,ACTIVE,NONE,59.0,23069ee8ddcdbaa353952bef47f2a77e7ffa71a214a049...
204,2018-09-23,e7c0ff2f724293c09bf3ba498c8c49b001040374fab1cd...,562245058,0.030492,1,562245,Luna skinny RW,272,Trousers,Garment Lower body,...,Womens Everyday Collection,1009,Trousers,"5-pocket jeans in washed, superstretch denim w...",NaN,NaN,ACTIVE,NONE,46.0,06725b68a0567b89326edfc1ffd762850a61d89128c47d...
218,2018-09-24,689f4eda82fdf3d9bfe8e524bbd0d931c4d7690f2234d3...,610730021,0.023712,2,610730,Gyda.,258,Blouse,Garment Upper body,...,Womens Tailoring,1010,Blouses,Long-sleeved blouse in a softly draping weave ...,1.0,1.0,ACTIVE,Regularly,26.0,08462665845669007bf0d4550b9a097472afcbe4448e59...
222,2018-09-24,a65f77281a528bf5c1e9f270141d601d116e1df33bf9df...,543729003,0.050831,2,543729,Lagos,272,Trousers,Garment Lower body,...,Womens Tailoring,1009,Trousers,Suit trousers in woven fabric with a regular w...,1.0,1.0,ACTIVE,Regularly,61.0,c46e53a04e81a44fecaf0ec64ae353bfb3abc91f510e79...
249,2018-09-25,77db96923d20d40532eba0020b55cd91eb51358885c2d6...,608928002,0.025407,2,608928,SPEED Emerald Earring,70,Earring,Accessories,...,Womens Small accessories,1019,Accessories,"Metal earrings decorated with sparkly beads, p...",NaN,NaN,ACTIVE,NONE,27.0,fa13377323994a5da29d96b01f86205d05aa5ebb2ad6fa...
251,2018-09-25,c140410d72a41ee5e2e3ba3d7f5a860f337f1b5e41c27c...,626405004,0.006763,2,626405,Annabel V-neck LS,255,T-shirt,Garment Upper body,...,Womens Casual,1005,Jersey Fancy,Fitted top in organic cotton slub jersey with ...,NaN,NaN,ACTIVE,NONE,46.0,28f8003feb7f51128f600df30f168d84712718eb94c9d8...
290,2018-09-25,da4991d090dbc1bc54c0538104ef2d5dc46ac40b2b0764...,628734001,0.016932,2,628734,Playa top,298,Bikini top,Swimwear,...,"Womens Swimwear, beachwear",1018,Swimwear,Fully lined bikini top in soft velour with rem...,NaN,NaN,ACTIVE,NONE,32.0,00d25e924bcdca387c234a904e737803948ce508c6a004...
293,2018-09-25,e55d5ddb3a0c3fb1b4df8edbf526ba12989ab2a852c727...,399223001,0.033881,2,399223,Curvy Jeggings HW Ankle,272,Trousers,Garment Lower body,...,Ladies Denim,1016,Trousers Denim,"Jeggings in washed, superstretch denim with a ...",1.0,1.0,ACTIVE,Regularly,24.0,6545a80d8e0107f10748f35ef46caaffd54750354a1c90...
302,2018-09-26,0d4fb6fb46dfe2759bcf7bc80340e8915b207aa2f74b5b...,643833004,0.006763,2,643833,Liquorice flipflop,88,Flip flop,Shoes,...,Divided Accessories,1020,Shoes,Flip-flops with rubber straps and fluted rubbe...,1.0,1.0,ACTIVE,Regularly,40.0,e79ad63d14d9cb5b2f10c654229ece674a360c81672fbf...
410,2018-09-26,d80ed4ababfa96812e22b911629e6bcbf5093769051ea4...,637141005,0.020322,2,637141,Flora dress J,265,Dress,Garment Full body,...,Divided Collection,1013,Dresses Ladies,"Ankle-length, off-the-shoulder dress in soft v...",1.0,1.0,ACTIVE,Regularly,61.0,bbd1cf1b244baa0cc715bcf8a3bee1faf248ce37cdb0c8...
435,2018-09-26,e97c3a6c680cd3569df10f901a61fdffaf8f70300f6adf...,641741001,0.084729,2,641741,Palencia highshaft,87,Boots,Shoes,...,Womens Shoes,1020,Shoes,Thigh boots in soft imitation suede with a dra...,1.0,1.0,ACTIVE,Regularly,52.0,738401fe6e5701e1fc827de90e69599119e434ca477f67...
544,2018-09-27,716d31c400d20613322bf8a2ddfc621604ea9756c054de...,504155011,0.033881,2,504155,Kirsten,252,Sweater,Garment Upper body,...,Womens Everyday Basics,1003,Knitwear,Jumper in a cable-knit cotton blend with ribbi...,NaN,NaN,ACTIVE,NONE,44.0,cbd8014789fb73ea395689b61356f34aa3feab990002f4...
759,2018-09-29,898ede9fb639eb2aedb2d1d433eea958817e2bbb9f9452...,616711001,0.042356,2,616711,ED Baraboom cardigan,245,Cardigan,Garment Upper body,...,H&M+,1003,Knitwear,"Long cardigan in a soft, fine knit with long s...",NaN,NaN,ACTIVE,NONE,43.0,4c738bde75aa2b63a0bb31406e00ce151c6926b70a59aa...
774,2018-09-29,b4db5e5259234574edfff958e170fe3a5e13b6f146752c...,673186001,0.042356,2,673186,Elly PU,275,Skirt,Garment Lower body,...,Womens Everyday Collection,1012,Skirts,Short skirt in imitation leather with a sewn-i...,1.0,1.0,ACTIVE,Regularly,25.0,4acdec769091cb0bc94cfd3324843156dbc572a7281ae4...
839,2018-09-30,e238725cbff3774b711407cc000f42c0ddabf6b07eb0e3...,629420002,0.008458,2,629420,claudine,255,T-shirt,Garment Upper body,...,Womens Everyday Basics,1002,Jersey Basic,T-shirt in soft cotton jersey.,NaN,NaN,ACTIVE,NONE,28.0,65e70f50333abe616bddfff9fa8b3b0887cd58c120e503...
930,2018-10-02,2df54f0d0653811fe06479c93905f3e6ecc6d07edf39d8...,695457001,0.022017,2,695457,Lillibeth jumper,255,T-shirt,Garment Upper body,...,Divided Projects,1005,Jersey Fancy,Top in ribbed jersey with overlocked edges and...,1.0,1.0,ACTIVE,Regularly,22.0,85c1197c3616e4597988edde1b58bb01ab60d00680ab28...
933,2018-10-02,950159306933d969b06b43f21a92a29fd37ed81ed8786a...,663007001,0.042356,2,663007,ED Matey v-neck,252,Sweater,Garment Upper body,...,H&M+,1003,Knitwear,"Wide, V-neck jumper in a soft, fine knit with ...",1.0,1.0,ACTIVE,Regularly,49.0,4cd7f4aa150fba3379f775521770896a01c34a8ece6f3f...
1015,2018-10-04,4308983955108b3af43ec57f0557211e44462a56332383...,642805001,0.018627,1,642805,Work It Swimsuit,57,Swimsuit,Swimwear,...,"Womens Swimwear, beachwear",1018,Swimwear,Fully lined swimsuit with a deep V-neck and ad...,1.0,1.0,ACTIVE,Regularly,43.0,d51efa32b54a5f8c64d41ca12e7daa059e9a99ee31990f...
1711,2018-10-14,863f0e03da282ae32a76775ce55d8a4605a85c84a26066...,618778001,0.025407,2,618778,Picasso,258,Blouse,Garment Upper body,...,Womens Everyday Collection,1010,Blouses,"Wide, long-sleeved blouse in a cotton poplin b...",NaN,NaN,ACTIVE,NONE,27.0,b6cd6d4a8a029ceb76b9bb83781c4bfabd02fdf4253092...
4881,2018-12-05,67931690bdf18d2e328854ae772cd5ce2505fdc1116469...,645895001,0.025407,2,645895,Maja Printed,245,Cardigan,Garment Upper body,...,Divided Collection,1003,Knitwear,"Cardigan in a soft, fine, patterned knit with ...",1.0,1.0,ACTIVE,Regularly,55.0,c2a77fe2ea57d47bda150b792d51c2bcb45dd5740644e4...
5376,2018-12-13,9478a9e051336b0373b07172ef96ed923cb50e0d54a7e3...,516000073,0.014407,2,516000,Agnes LS R-neck,255,T-shirt,Garment Upper body,...,Womens Casual,1005,Jersey Fancy,Fitted top in stretch jersey with a round neck...,1.0,1.0,ACTIVE,Regularly,67.0,a0b2eeb3860692997cc4cbda9b19ea4f91ea7e2179949a...
5997,2018-12-22,b14bfba3ae0da5af6e9711059773acf713cd7bb9a2c940...,664209002,0.027102,1,664209,Adina Jsy Pull- on TRS,272,Trousers,Garment Lower body,...,Divided Collection,1009,Trousers,"Trousers with a high, elasticated waist and st...",1.0,1.0,ACTIVE,Regularly,64.0,37be829bbb71e7fe00b0ec29c3db06cbb10849e6cdc27b...

### 排序函数

- `sort_values()`: 按值排序。
- `sort_index()`: 按索引排序。

In [55]:
# 按值排序
df.sort_values('price').head()

,t_dat,customer_id,article_id,price,sales_channel_id,product_code,prod_name,product_type_no,product_type_name,product_group_name,...,section_name,garment_group_no,garment_group_name,detail_desc,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
31056,2019-12-23,0d4fb6fb46dfe2759bcf7bc80340e8915b207aa2f74b5b...,742947003,0.000508,1,742947,20p terrys,512,Hair ties,Accessories,...,Womens Small accessories,1019,Accessories,Hair elastics without metal clips. Diameter 4....,1.0,1.0,ACTIVE,Regularly,40.0,e79ad63d14d9cb5b2f10c654229ece674a360c81672fbf...
31074,2019-12-23,0d4fb6fb46dfe2759bcf7bc80340e8915b207aa2f74b5b...,742947002,0.000508,1,742947,20p terrys,512,Hair ties,Accessories,...,Womens Small accessories,1019,Accessories,Hair elastics without metal clips. Diameter 4....,1.0,1.0,ACTIVE,Regularly,40.0,e79ad63d14d9cb5b2f10c654229ece674a360c81672fbf...
24703,2019-09-12,be1981ab818cf4ef6765b2ecaea7a2cbf14ccd6e8a7ee9...,214844002,0.000847,1,214844,30p pins,72,Hair clip,Accessories,...,Womens Small accessories,1019,Accessories,Metal hair grips. Length 5 cm.,NaN,NaN,ACTIVE,NONE,31.0,67851f0456e7070c20c713fe0f47eb15bcbf2a59d13b79...
46174,2020-07-20,1df07f916d7f648458702bd0b612caee88f1fb4cd1b660...,689866001,0.001000,1,689866,Sofia headband,74,Hair/alice band,Accessories,...,Womens Small accessories,1019,Accessories,Hairband in jersey with a sewn-on knot-detail ...,NaN,NaN,ACTIVE,NONE,23.0,207d6b8e53f6efaad75e7b3b5dd51770c2285e804a4453...
45513,2020-07-11,be1981ab818cf4ef6765b2ecaea7a2cbf14ccd6e8a7ee9...,809320001,0.001254,1,809320,1p Fancy edge sock,302,Socks,Socks & Tights,...,"Womens Nightwear, Socks & Tigh",1021,Socks and Tights,"Socks in a soft rib knit with elasticated, fri...",NaN,NaN,ACTIVE,NONE,31.0,67851f0456e7070c20c713fe0f47eb15bcbf2a59d13b79...

In [31]:
# 按值排序
df.sort_values('price', ascending=False).head()

,t_dat,customer_id,article_id,price,sales_channel_id,product_code,prod_name,product_type_no,product_type_name,product_group_name,...,section_name,garment_group_no,garment_group_name,detail_desc,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
48988,2020-08-24,863f0e03da282ae32a76775ce55d8a4605a85c84a26066...,916300002,0.506780,2,916300,PQ OLGA LEATHER DRESS,265,Dress,Garment Full body,...,Womens Premium,1001,Unknown,Knee-length shirt dress in soft leather with a...,NaN,NaN,ACTIVE,NONE,27.0,b6cd6d4a8a029ceb76b9bb83781c4bfabd02fdf4253092...
48437,2020-08-14,863f0e03da282ae32a76775ce55d8a4605a85c84a26066...,917509001,0.422034,2,917509,PQ BODEN LEATHER BLOUSE,258,Blouse,Garment Upper body,...,Womens Premium,1001,Unknown,Wide blouse in soft leather with a grandad col...,NaN,NaN,ACTIVE,NONE,27.0,b6cd6d4a8a029ceb76b9bb83781c4bfabd02fdf4253092...
27244,2019-10-19,84c34f4f564db1f437943c77af41f83bf6fd7c01701cbb...,776716001,0.422034,2,776716,D1 PE SAFFRON LEATHER JACK,262,Jacket,Garment Upper body,...,Collaborations,1001,Unknown,"Lightly padded, straight-cut leather jacket wi...",1.0,1.0,ACTIVE,Regularly,53.0,5f128cfa35124fbbaf9a782510be2b8410df3bab1f482d...
49908,2020-09-09,863f0e03da282ae32a76775ce55d8a4605a85c84a26066...,917509002,0.422034,2,917509,PQ BODEN LEATHER BLOUSE,258,Blouse,Garment Upper body,...,Womens Premium,1001,Unknown,Wide blouse in soft leather with a grandad col...,NaN,NaN,ACTIVE,NONE,27.0,b6cd6d4a8a029ceb76b9bb83781c4bfabd02fdf4253092...
27245,2019-10-19,84c34f4f564db1f437943c77af41f83bf6fd7c01701cbb...,776716001,0.422034,2,776716,D1 PE SAFFRON LEATHER JACK,262,Jacket,Garment Upper body,...,Collaborations,1001,Unknown,"Lightly padded, straight-cut leather jacket wi...",1.0,1.0,ACTIVE,Regularly,53.0,5f128cfa35124fbbaf9a782510be2b8410df3bab1f482d...

In [32]:
# 按索引排序
print(df.sort_index(ascending=False).head())

            t_dat                                        customer_id  \
50723  2020-09-22  f137c16fd175271922dad4006565503952f24750a57388...
50722  2020-09-22  f137c16fd175271922dad4006565503952f24750a57388...
50721  2020-09-22  e97c3a6c680cd3569df10f901a61fdffaf8f70300f6adf...
50720  2020-09-22  e97c3a6c680cd3569df10f901a61fdffaf8f70300f6adf...
50719  2020-09-22  e97c3a6c680cd3569df10f901a61fdffaf8f70300f6adf...

       article_id     price  sales_channel_id  product_code       prod_name  \
50723   906633002  0.050831                 2        906633    Isach Loafer
50722   752814020  0.033881                 2        752814   Milk RW slack
50721   896064002  0.049627                 1        896064  Volpino slacks
50720   896064002  0.049627                 1        896064  Volpino slacks
50719   892857002  0.033102                 1        892857    Florence top

       product_type_no product_type_name  product_group_name  ...  \
50723               86        Ballerinas               Shoes  ...
50722              272          Trousers  Garment Lower body  ...
50721              272          Trousers  Garment Lower body  ...
50720              272          Trousers  Garment Lower body  ...
50719              258            Blouse  Garment Upper body  ...

                     section_name garment_group_no  garment_group_name  \
50723                Womens Shoes             1020               Shoes
50722  Womens Everyday Collection             1009            Trousers
50721            Womens Tailoring             1009            Trousers
50720            Womens Tailoring             1009            Trousers
50719            Womens Tailoring             1010             Blouses

                                             detail_desc   FN Active  \
50723  Loafers in imitation leather with a decorative...  1.0    1.0
50722  Cigarette trousers in stretch twill with a reg...  1.0    1.0
50721  Ankle-length cigarette trousers in woven fabri...  1.0    1.0
50720  Ankle-length cigarette trousers in woven fabri...  1.0    1.0
50719  Straight-cut top in a crêpe weave with a V-nec...  1.0    1.0

       club_member_status fashion_news_frequency   age  \
50723              ACTIVE              Regularly  70.0
50722              ACTIVE              Regularly  70.0
50721              ACTIVE              Regularly  52.0
50720              ACTIVE              Regularly  52.0
50719              ACTIVE              Regularly  52.0

                                             postal_code
50723  3455b39b24a47ae0262c91c5728ab9ddcfccc43628291e...
50722  3455b39b24a47ae0262c91c5728ab9ddcfccc43628291e...
50721  738401fe6e5701e1fc827de90e69599119e434ca477f67...
50720  738401fe6e5701e1fc827de90e69599119e434ca477f67...
50719  738401fe6e5701e1fc827de90e69599119e434ca477f67...

[5 rows x 35 columns]